@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}
/* share style */
.sahre-btn {
    background-color: rgb(0, 106, 80);
    padding: 15px 26px;
    border-radius: 8px;
    color: #fff;
    margin: 25px 0;
    border: none;
    cursor: pointer;
}
.side-button{
    margin-top: 5px;
    color: #F1F1F3;
}
.sahre-btn:hover, .sahre-btn a:hover {
    background-color: rgb(78, 177, 152);
    transition: 0.9s;
    color: rgb(183, 233, 233);
} 
.sahre-btn a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 15PX;
    
}

body{
    background-color: #F1F1F3;
    
   
}
header{
    width: 1580px;
    margin: auto;
    /* background-color: aqua; */
}

/* header section */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    text-align: center;
    margin: 25px 0 65px 0;
    width: 96%;
}
.navbar h1{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
}
.btn{
    border: 1px solid rgb(0, 106, 80) ;
    padding: 13px 25px 13px 25px;
    box-sizing: border-box;
    border-radius: 6px;
    align-items:center ;
    text-align: center;
    cursor: pointer;
    
}
.btn:hover{
    background-color: rgb(209, 236, 228);
    color: aliceblue;
    transition: 0.9s;
    
}
.btn a{
    text-decoration: none;
    color: rgb(0, 106, 80);
    
}

/* banner section */
.banner{
    width: 96%;
    height: 560px;
    background-color: rgb(198, 228, 214);
    /* margin-top: 44px; */
    border-radius: 24px;
    margin: auto;
    
    
}
.banner-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
    gap: 64px;
    
}
.banner-left{
    width: 50%;
    margin: 80px 0;
   
}
.banner-title{
    color: rgb(14, 14, 14, 0.5);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 16px 0;

}
.banner-description{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 63px;
    margin: 16px 0;
}

/* main section */


main{
    width: 1580px;
    /* height: 290px; */
    margin: auto;
  

}
.pillar-title{
    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
}
.pillars{
    /* width: 100%;
    height: 100%; */
    /* justify-content: center;
    align-items: center; */
    margin-top: 65px;
    
}
.pillar-main{
    padding: 49px;
}
.pillar-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
    margin: 56px 0 0 0;
}
.pillar-{
    background-color:rgb(255, 255, 255);
    padding: 25px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    box-sizing: border-box;
    border-radius: 8px;
    
}
.pillar-text{
    color: rgb(14, 14, 14, 0.8);
    padding: 12px 0;
    font-size: 18px;
    font-weight: 700;
}
.pillar-disc{
    color: rgb(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
}


/* vision section */
.vision{
    padding: 49px;
}
.vision-main h1{
    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    margin: 24px 0;
   
}
.vision-main p{
    color: rgb(14, 14, 14, 0.7);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 24px 0;
}

.vision-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 44px;
    margin: 39px 0;
}
.tips{
    padding: 35px;
    /* width:410px; */
    box-sizing: border-box;
    border-radius: 16px;
    
}
.visionr-1{
    background-color:rgba(84, 144, 245, 0.2);
    
}
.visionr-2{
    background-color: rgb(198, 228, 214);
}
.visionr-3{
    background-color: rgb(247, 235, 207);
}
.vision-h5{
    color: rgb(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0;
}
.visionr p{
    color: rgb(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0;
}
.btn1{
    padding: 8px 18px;
    margin: 12px 0;
    border: none;
    text-align: center;
    align-items: center;
    background-color: rgb(84, 144, 245);
    border-radius: 6px;
}
.mani a{
    text-decoration: none;
    color: #F1F1F3;
    font-size: 14px;
    font-weight: 600;
   
}
.cheif{
    /* height: 220px; */
    width: 96%px;
    background-color:rgb(255, 255, 255);
    background-image: url(../assets/logo.png);
    background-repeat: no-repeat;
    background-position: 28px 25px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.cheif-vaiser{
    align-items: center;
    padding: 32px 28px;
    margin: 15px 0 0 0 ;
}
.cheif-vaiser p{
    color: rgb(14, 14, 14, 0.8);
    font-size: 15px;
}
.cheif-vaiser h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(14, 14, 14, 0.9);

}
.coto-p{
    font-size: 13px;
    color: rgb(14, 14, 14, 0.8);
    font-weight: 500;
}

/* openion section */
.matter h1{
    font-size: 42px;
    font-weight: 700;
    color: rgb(14, 14, 14, 0.8);
}
.openion{
    padding: 49px;
  
}
.openion-table{
    background-color: #fff;
    padding: 35px ;
    margin-top: 24px;
    border-radius: 16px

}
table{
    width: 96%;
    /* margin-top: 39px; */
    margin: auto;
    border-collapse: collapse;
}

td{
    text-align: left;
    border: 1px solid rgb(14, 14, 14, 0.15);
    padding: 25px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(14, 14, 14, 0.8);
}
th{
    text-align: left;
    /* border: 1px solid rgb(14, 14, 14, 0.15); */
    background-color: rgb(198, 228, 214);
    padding: 25px;
    
}
select {
    padding:10px 12px ;
    /* border: none; */
    background-color: rgb(198, 228, 214);
    border-radius: 4px;
    text-align: center;
    align-items: center;
}

/* newa section */
 .new-satelite{
    max-width: 95%;
    margin: auto;
    padding: 50px;
 }
 .new-satelite h2{
    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: 700;
    margin: 16px 0;
    
 }
 .new-satelite .news-dis{
    color:rgb(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    margin: 18px 0;
}
.aljajera-box{
    margin-top: 32px;
    /* max-width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 23px;
    
}
.aljajeera-1{
    display: flex;
    /* flex-direction: row;
    justify-content: flex-start; */
    /* align-items: center; */
    /* padding: 28px 28px; */
    gap: 32px;
    border-radius: 25px;
    background-color: #ffff;
}
.aljajera-left .img-property{
    /* height: 220px;
    width: 340px; */
    align-items: center;
    padding: 22px;
    margin-left: 5px;
    border-radius: 45px;
}
.aljareera-right{
  padding: 28px;
}
.aljareera-right h1{
    color: rgb(14, 14, 14, 0.8);
    font-size: 30px;
    font-weight: 700;
    
}
.aljareera-right img{
    margin: 10px 0;
}
.aljareera-right p{
    margin: 15px 0;
    color: rgb(14, 14, 14, 0.7);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.donate-section{
    max-width: 95%;
    /* margin: auto; */
    /* padding: 50px; */
}
.donate{
    align-items: center;
    text-align: center;
    margin: 30px 80px;
    padding: 30px;
    
}
.donate h1{
    font-size: 42px;
    color: rgb(14, 14, 14, 0.8);
    font-weight: 700;
    margin-bottom: 12px;
}
.donate p{
    color: rgb(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 20px;
}
.take{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;
}
.diff{
    padding: 22px 32px;
    font-size: 30px;
    font-weight: 800;
    color: rgb(14, 14, 14, 0.8);
    border: 1px solid rgb(14, 14, 14, 0.15);
    background-color:rgb(198, 228, 214);
    border-radius: 7px;
    transition: 0.9s;
    cursor: pointer;
}
.diff:hover{
    background-color: rgb(208, 228, 228);
}
.take-button{
    padding: 32px;
    

}
.take-button .semilar{
    padding: 22px 32px;
    font-size: 30px;
    font-weight: 800;
    color: rgb(14, 14, 14, 0.8);
    border: 1px solid rgb(14, 14, 14, 0.15);
    background-color:rgb(255, 255, 255) ;
    border-radius: 7px;
    transition: 0.9s;
    cursor: pointer;
}
.take-button .semilar:hover{
    background-color: rgb(203, 231, 224);
}
.other-aount{
    width: 89%;
    padding: 20px 40px;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(14, 14, 14, 0.15);
    border-radius: 7px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(14, 14, 14, 0.7);
}
.subscribe{
    max-width: 94%;
    min-height: 350px;
    border-radius: 16px;
    background-color: rgb(183, 228, 214);
    margin: auto;
    margin-bottom: 50px;
}
.subcribe-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    gap: 60px;
}
.newslatter{
    width: 100%;
    text-align: center;
    align-items: center;
}
.newslatter h1{
    color: rgb(14, 14, 14);
    font-size: 46px;
    font-weight: 700;
    margin: 14px 0;
}
.newslatter p{
    color: rgb(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 25px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0;
   
}
.info input{
    padding: 28px;
    width: 50%;
    box-sizing: border-box;
    border: none;
    /* border: 1px solid rgb(198, 228, 214); */
   
}
.info button{
    padding: 28px 35px;
    border: none;
    background-color: rgb(0, 106, 80);
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    /* border: 3px solid aqua; */
}